body {
    background-image: url(https://img3.stockfresh.com/files/v/vtupinamba/m/20/328959_stock-photo-coins-fall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
